        .form-group { margin: 15px 0; }
        .form-group label { display: block; margin-bottom: 5px; font-weight: bold; }
        .form-group input { width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; }
        .save-btn { background: #0b1a5e; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; }
        .save-btn:hover { background: #09143f; }
        .nav-buttons { margin-top: 20px; }
    

        .nav-buttons button { margin: 0 10px; padding: 10px 20px; background: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer; }
        .nav-buttons button:hover { background: #218838; }
.select#two-factor-method {padding: 12px 13px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}